<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
    <!-- <class name = packagename.testngclassname -->
      <class name="org.Selenum.GcReddy.TestNGClasses.LoginActions_PositiveData"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
